body{
	margin-left: 0;
	margin-top: 0;
	margin-right: 0;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.top-hide{
	position: fixed;
	background: black;
	top: 0px;
	height: 10%;
	width: 100%;
	z-index: 4;
}
.top{
	position: fixed;
	height: 15%;
	width: 100%;
	top: -1%;
	background: black;
	color: white;
	transform:skewY(-3deg);
	z-index: 5;
	padding-left: 20px;
	padding-top: 15px;
}
.logo{
	width: 80px;
	min-width: 40px;
}
.logoimage{
	display: inline-block;
	width: 100px;
	vertical-align: top;
    transform: skewY(3deg);
    padding-left: 20px;
}
.logotext{
	display: inline-block;
	width: 50%;
	height: 5%;
	vertical-align: top;
	transform: skewY(3deg);
	padding-top: 1%;
	padding-left: 20px;
}
.id-main{
	font-family: 'Roboto', sans-serif;
    font-weight: 500;
	letter-spacing: 15px;
}
.menu{
	position: fixed;
	top: 20%;
	width: 70%;
	right: 5%;
	color: darkgrey;
	z-index: 7;
	letter-spacing: 5px;
	font-size: 15px;
}
.main-list{
	list-style-type: none;
	float: right;
	padding: 0;
	margin: 0;
}
.menuelement{
	display: inline-block;
	margin-right: 20px;
}
a{
	text-decoration: none;
}
a.pg0{
    color: white;
}
a.pg0:active{
    color: white;
}
a.pg0:visited{
    color: white;
}
a.pg0:link{
    color: white;
}
.underline{
	transition: color .3s;
	color: darkgrey;
}
.underline:hover{
	color: black !important;
}
.underline::after{
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: black;
	transition: width .3s;
}
.underline:hover::after{
	width: 95%;
}
.section{
	width: 100%;
	height: 100%;
}
.bottom{
	position: fixed;
	bottom: -1%;
	height: 15%;
	width: 100%;
	background: black;
	color: white;
	transform:skewY(-3deg);
	z-index: 5;
}
.bottom-hide{
	position: fixed;
	bottom: -1%;
	background: black;
	height: 7%;
	width: 100%;
	z-index: 4;
}
h1{ 
    font-size: 50px; 
}
.bottomtext{
	position: fixed;
	transform: skewY(3deg);
	left: 30px;
	padding-top: 1%;
	z-index: 7;
}
.rights{
	font-size: 10px;
    color: darkgrey;
    letter-spacing: 3px;
}
#page0{
    display: none;
}
#page1{
    display: none;
}
#page2{
    display: none;
}
#page3{
    display: none;
}
#page4{
    display: none;
}
#page5{
    display: none;
}
.contact{
    font-weight: 900;
    text-decoration: none;
    color: black;
}
.contact:hover{
    text-decoration: underline;
}
.heading{
    color: black;
    letter-spacing: 15px;
    margin: 0;
}
.minitext{
    font-size: 20px;
    letter-spacing: 5px;
    line-height: 30px;
    font-weight: 400;
}
.divtext{
    position: absolute;
    left: 10%;
    top: 40%;
    width: 700px;
}
.divimg{
    position: absolute;
    right: 20%;
    top: 35%;
}
.bulb{
    width: 300px;
}
.hey{
    width: 300px;
}
.iphone{
    width: 300px;
}
.hometext{
	position: absolute;
	left: 20%;
	top: 40%;
	font-size: 30px;
	z-index: 1;
}
.itdad, .itdadbold{
	margin-top: 10px;
	margin-bottom: 0px;
	letter-spacing: 15px;
}
.itdadbold{
	font-weight: 900;
}
.homeimg{
	position: absolute;
	width: 50%;
	right: 0px;
	bottom: 0px;
	z-index: 7;
}
.profile{
	position: absolute;
	bottom: 0px;
	right: 30%;
	width: 80%;
}
.rightindicators{
	position: fixed;
	width: 10px;
	right: 8%;
	top: 40%;
}
.pageindicator{
	margin: 0px;
}
.dot{
	height: 6px;
  	width: 6px;
	background-color: darkgrey;
	border-radius: 50%;
	display: inline-block;
}
.logoimage, .logotext, .menu, .rightindicators, .rights{
	opacity: 0;
}





@media (max-width: 900px), (max-height: 100px){
	.logotext{
    display: none;
	}
	.menu{
		display: none;
	}
}
@media (max-width: 2000px){
	h1{ 
      font-size: 40px; 
   }
}
@media (max-width: 1400px){
	h1{ 
      font-size: 30px; 
   }
}

@media (max-width: 1100px){
	h1{
		font-size: 20px; 
	}
	.logotext{
		padding-top: 2%;
	}
	.id-main{
		letter-spacing: 10px;
	}
}

@media (max-height: 600px){
	.top{
		padding-top: 10px;
		padding-left: 10px;
	}
	.logoimage{
		width: 70px;
	}
	.logo{
		width: 60px;
	}
	.id-main{
		letter-spacing: 10px;
	}
	.logotext{
		padding-top: 1.5%;
	}
	h1{
		font-size: 20px; 
	}
}

@media (max-height: 400px){
	.top{
		padding-top: 0px;
		padding-left: 2px;
	}
	.logoimage{
		width: 45px;
	}
	.logo{
		width: 40px;
	}
	.logotext{
		padding-top: 2%;
	}
	h1{
		font-size: 10px;
	}
	.id-main{
		letter-spacing: 5px;
	}
}